<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Kanye West</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/spotify-logo-green.png">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
  <!-- nav bar-->
  <div id="fixed">
  <nav>
    <img src="images/spotify-logo.png" alt="spotify logo">
  </label>
    <ul>
       <li> <a href="/">Home</a></li>
      <li> <a href="/photos">Photos</a></li>
      <li> <a href="/works">His work</a></li>
      <li> <a href="/about">About Kanye</a></li>
      <li><a href="https://www.spotify.com/us/download/other/">Download</a></li>
    </ul>
  </nav>
  </div>
  <main>
  <!-- Primera seccion-->
  <section id="sect1-about">
  <header id="header-about">
    <h1 id="heading-about"> Whats with <span>Kanye.</span></h1>
    <p> keys to understand the always controversial Ye</p>
  </header>

  </section>
 <!-- SEGUNDA SECCION-->
<section id="sect2">
<h2 id="subheading">
  What should you know
  </h2>
  
  <div id="about-body">
    
  <article id="Millions">
    <img src="images/record.png" alt="Music logo">
    <h4>Hit maker</h4>
    <p> He has sold over <span style="font-weight:900">35 million</span> albums and has <span style="font-weight:900">50 million</span> monthly listeners</p>
  </article>
  <article id="HD">
    <img src="images/improvement.png" alt="HQ logo">
    <h4>Game changer</h4>
    <p>He changed the rap industry <span style="font-weight:900">forever</span> with his sampling techniques</p>
  </article>
  <article id="Stream everywhere">
  <img src="images/controversial.png" alt="devices logo">
    <h4>Always controversial</h4>
    <p>Hate him or love him, <span style="font-weight:900">nobody is indifferent</span> to Kanye</p>
  </article>
  <article id="Stream everywhere">
  <img src="images/good.png" alt="devices logo">
    <h4>Hero or Villain?</h4>
    <p>Time will tell what's his fate. In the meantime we <span style="font-weight:900">listen to his music</span></p>
  </article>
  
</div>

</section>

 <!-- TERCERA SECCION -->
<section id="sect3">
 
 <div id="sect3-container">
  <div id="lista-final">
    <h5 id="kanye-heading">It’s as yeezy as Kanye West.</h5>
    <article id="search">
      <h6>Search</h6>
      <p>Know what you want to listen to? </p>
      <p>Just search and hit play.</p>
    </article>
    <article id="browse">
      <h6>Browse</h6>
      <p>Check out the latest charts, </p>
      <p>brand new releases and great</p>
      <p>playlists for right now.</p>
    </article>
    <article id="discover">
      <h6>Discover</h6>
      <p>Enjoy new music every Monday</p>
      <p> own personal playlist. </p>
      <p>Or sit back and enjoy Radio.</p>
    </article>
  </div>
  <img src="images/spotify-app.jpg" alt="Spotify app logo">
 </div>  
 <image src="images/spotify-icon-white.png">
 </section>

 <section id="sect4">
  <div id="container-footer">
  <img src="images/spotify-icon-white.png">
  <p> Download Now!</p>
 </div>
  </section>
  </body>
</main>
</html>