<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kanye's on spotify</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/spotify-logo-green.png">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
  <!-- nav bar-->
  <div id="fixed">
  <nav>
    <img src="images/spotify-logo.png" alt="spotify logo">
  </label>
    <ul>
       <li> <a href="/">Home</a></li>
      <li> <a href="/photos">Photos</a></li>
      <li> <a href="/works">His work</a></li>
      <li> <a href="/about">About Kanye</a></li>
      <li><a href="https://www.spotify.com/us/download/other/">Download</a></li>
    </ul>
  </nav>
  </div>
  <main>
  <!-- Primera seccion-->
  <section id="sect1">
  <header id="header" class="header">
    <h1 id="heading">Kanye for everyone.</h1>
      <p>  Ye is now in your mobile, tablet and computer. </p>
      <p> Listen to his music, wherever you are.</p>
  </header>

  </section>
 <!-- SEGUNDA SECCION-->
<section id="sect2">
<h2 id="subheading">
  What's on spotify?
  </h2>
  
  <div>
  <article id="Millions">
    <img src="images/music-icon.png" alt="Music logo">
    <h4>Millions of songs</h4>
    <p> There are millions of songs on Spotify</p>
  </article>
  <article id="HD">
    <img src="images/high-quality-icon.png" alt="HQ logo">
    <h4>HD music</h4>
    <p>Listen to music as if you were listening live </p>
  </article>
  <article id="Stream everywhere">
  <img src="images/devices-icon.png" alt="devices logo">
    <h4>Stream Everywhere</h4>
    <p>Stream music on your smartphone, tablet or computer</p>
  </article>
</div>

</section>

 <!-- TERCERA SECCION -->
<section id="sect3">
 
 <div id="sect3-container">
  <div id="lista-final">
    <h5 id="kanye-heading">It’s as yeezy as Kanye West.</h5>
    <article id="search">
      <h6>Search</h6>
      <p>Know what you want to listen to? </p>
      <p>Just search and hit play.</p>
    </article>
    <article id="browse">
      <h6>Browse</h6>
      <p>Check out the latest charts, </p>
      <p>brand new releases and great</p>
      <p>playlists for right now.</p>
    </article>
    <article id="discover">
      <h6>Discover</h6>
      <p>Enjoy new music every Monday</p>
      <p> own personal playlist. </p>
      <p>Or sit back and enjoy Radio.</p>
    </article>
  </div>
  <img src="images/spotify-app.jpg" alt="Spotify app logo">
 </div>  
 <image src="images/spotify-icon-white.png">
 </section>

 <section id="sect4">
  <div id="container-footer">
  <img src="images/spotify-icon-white.png">
  <p> Download Now!</p>
 </div>
  </section>
  </body>
</main>
</html>