<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kanye West photos</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://toppng.com/uploads/preview/spotify-icon-green-logo-spotify-logo-png-hd-11562850769m45tulb4kl.png">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="body-photos">
  <!-- nav bar-->
  <div id="fixed">
  <nav>
    <img src="images/spotify-logo.png" alt="spotify logo">
  </label>
     <ul>
       <li> <a href="/">Home</a></li>
      <li> <a href="/photos">Photos</a></li>
      <li> <a href="/works">His work</a></li>
      <li> <a href="/about">About Kanye</a></li>
      <li><a href="https://www.spotify.com/us/download/other/">Download</a></li>
    </ul>
  </nav>
  </div>
  <main id="sect3-photos">
  <!-- Primera seccion-->
  <section id="photos-section">
<h2 id="subheading-photos">
  Kanye's Gallery
  </h2>
 <div id="photos-container">
  <div class="row">
  <div class="column">
    <img src="images/kanye1.webp" class="kanye-img">
    <img src="images/kanye2.webp" class="kanye-img">
    <img src="images/kanye3.webp" class="kanye-img">
    <img src="images/kanye4.webp" class="kanye-img">
    <img src="images/kanye5.webp" class="kanye-img">
    <img src="images/kanye6.webp" class="kanye-img">
    <img src="images/kanye7.webp" class="kanye-img">
  </div>
  <div class="column">
    <img src="images/kanye9.jpeg" class="kanye-img"> 
    <img src="images/kanye10.jpeg" class="kanye-img">
    <img src="images/kanye11.jpeg" class="kanye-img">
    <img src="images/kanye12.jpeg" class="kanye-img">
    <img src="images/kanye13.jpeg" class="kanye-img">
    <img src="images/kanye20.jpeg"class="kanye-img">
  </div>
  <div class="column">
    <img src="images/kanye14.jpeg"class="kanye-img">
    <img src="images/kanye15.jpeg"class="kanye-img">
    <img src="images/kanye16.jpeg"class="kanye-img">
    <img src="images/kanye17.jpeg"class="kanye-img">
    <img src="images/kanye18.jpeg"class="kanye-img">
    <img src="images/kanye19.jpeg"class="kanye-img">
  </div>
   <div class="column">
    <img src="images/kanye21.jpeg"class="kanye-img">
    <img src="images/kanye22.jpeg"class="kanye-img">
    <img src="images/kanye23.jpeg"class="kanye-img">
    <img src="images/kanye24.jpeg"class="kanye-img">
    <img src="images/kanye25.jpeg"class="kanye-img">
    <img src="images/kanye26.jpeg"class="kanye-img">
  </div>
</div>

 </div>
 </section>
 


 <!-- TERCERA SECCION -->
 
<section id="sect3" class="sect3-photos">
 <div id="sect3-container">
  <div id="lista-final">
    <h5 id="kanye-heading">It’s as yeezy as Kanye West.</h5>
    <article id="search">
      <h6>Search</h6>
      <p>Know what you want to listen to? </p>
      <p>Just search and hit play.</p>
    </article>
    <article id="browse">
      <h6>Browse</h6>
      <p>Check out the latest charts, </p>
      <p>brand new releases and great</p>
      <p>playlists for right now.</p>
    </article>
    <article id="discover">
      <h6>Discover</h6>
      <p>Enjoy new music every Monday</p>
      <p> own personal playlist. </p>
      <p>Or sit back and enjoy Radio.</p>
    </article>
  </div>
  <img src="images/spotify-app.jpg" alt="Spotify app logo">
 </div>  
 <image src="images/spotify-icon-white.png">
 </section>
</div>
 <section id="sect4">
  < id="container-footer">
  <img src="images/spotify-icon-white.png">
  <p> Download Now!</p>
 
  </section>
  </body>
</main>
</html>