<!DOCTYPE html>
<html lang="en" id="sect3-photos">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kanye West photos</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/spotify-logo-green.png">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="body-photos">
  <!-- nav bar-->
  <div id="fixed">
  <nav>
    <img src="images/spotify-logo.png" alt="spotify logo">
  </label>
     <ul>
       <li> <a href="/">Home</a></li>
      <li> <a href="/photos">Photos</a></li>
      <li> <a href="/works">His work</a></li>
      <li> <a href="/about">About Kanye</a></li>
      <li><a href="https://www.spotify.com/us/download/other/">Download</a></li>
    </ul>
  </nav>
  </div>
  <main >
  <!-- Primera seccion-->
  <section id="photos-section">
<h2 id="subheading-works">
  Listen to his music
  </h2>
 <div class="gallery" id="album-gallery">
  
  <img src="images/album1.jpeg" title="TITLE 1">
  <img src="https://upload.wikimedia.org/wikipedia/en/f/f4/Late_registration_cd_cover.jpg" title="TITLE 2">
  <img src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg" title="TITLE 3">
  <img src="https://upload.wikimedia.org/wikipedia/en/f/f1/808s_%26_Heartbreak.png" title="TITLE 4">
  <img src="https://upload.wikimedia.org/wikipedia/en/f/f0/My_Beautiful_Dark_Twisted_Fantasy.jpg?20121001043838" title="TITLE 5">
  <img src="https://upload.wikimedia.org/wikipedia/en/0/03/Yeezus_album_cover.png?20150701205042" title="TITLE 6">
  <img src="https://upload.wikimedia.org/wikipedia/en/4/4d/The_life_of_pablo_alternate.jpg" title="TITLE 7">
  <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Ye_album_cover.jpg" title="TITLE 8">
  <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Kanye_West_-_Jesus_Is_King.png" title="TITLE 9">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Almost_black_square_020305.png" title="TITLE 10">
  <img src="https://t2.genius.com/unsafe/600x0/https%3A%2F%2Fimages.genius.com%2F32e9ee0a056315909f7d6f6a703f2395.1000x1000x1.jpg" title="TITLE 11">
</div>

 </section>
 


 <!-- TERCERA SECCION -->
 
<section id="sect3" class="sect3-photos">
 <div id="sect3-container">
  <div id="lista-final">
    <h5 id="kanye-heading">It’s as yeezy as Kanye West.</h5>
    <article id="search">
      <h6>Search</h6>
      <p>Know what you want to listen to? </p>
      <p>Just search and hit play.</p>
    </article>
    <article id="browse">
      <h6>Browse</h6>
      <p>Check out the latest charts, </p>
      <p>brand new releases and great</p>
      <p>playlists for right now.</p>
    </article>
    <article id="discover">
      <h6>Discover</h6>
      <p>Enjoy new music every Monday</p>
      <p> own personal playlist. </p>
      <p>Or sit back and enjoy Radio.</p>
    </article>
  </div>
  <img src="images/spotify-app.jpg" alt="Spotify app logo">
 </div>  
 <image src="images/spotify-icon-white.png">
 </section>
</div>
 <section id="sect4">
  < id="container-footer">
  <img src="images/spotify-icon-white.png">
  <p> Download Now!</p>
 
  </section>
  </body>
</main>
</html>