<!DOCTYPE html>
<html lang="en" id="sect3-photos">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Kanye West Work</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/spotify-logo-green.png">
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body id="body-photos">
  <!-- nav bar-->
  <div id="fixed">
  <nav>
    <img src="images/spotify-logo.png" alt="spotify logo">
  </label>
     <ul>
       <li> <a href="/">Home</a></li>
      <li> <a href="/photos">Photos</a></li>
      <li> <a href="/works">His work</a></li>
      <li> <a href="/about">About Kanye</a></li>
      <li><a href="https://www.spotify.com/us/download/other/">Download</a></li>
    </ul>
  </nav>
  </div>
  <main >
  <!-- Primera seccion-->
  <section id="photos-section">
<h2 id="subheading-works">
  Listen to his music
  </h2>
 <div class="gallery" id="album-gallery">
 <div class="fullwrap">
  <img src="images/album1.jpeg" title="TITLE 1">
<div class="fullcap">
    The college dropout (2004)<br>
    <form action="https://open.spotify.com/album/4Uv86qWpGTxf7fU7lG5X6F?si=xLYvah0WQD6V5FB5ULFLSw" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://upload.wikimedia.org/wikipedia/en/f/f4/Late_registration_cd_cover.jpg" title="TITLE 2">
<div class="fullcap">
    Late Registration (2005)<br>
    <form action="https://open.spotify.com/album/5ll74bqtkcXlKE7wwkMq4g?si=b2036e3f29a54b2c" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://upload.wikimedia.org/wikipedia/en/7/70/Graduation_%28album%29.jpg" title="TITLE 3">
<div class="fullcap">
    Graduation (2007)<br>
    <form action="https://open.spotify.com/album/4SZko61aMnmgvNhfhgTuD3?si=7c4446a5e11a49ba" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://upload.wikimedia.org/wikipedia/en/f/f1/808s_%26_Heartbreak.png" title="TITLE 4">
<div class="fullcap">
    808s & Heartbreak (2008)<br>
    <form action="https://open.spotify.com/album/3WFTGIO6E3Xh4paEOBY9OU?si=c8decd29571b4e58" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://upload.wikimedia.org/wikipedia/en/f/f0/My_Beautiful_Dark_Twisted_Fantasy.jpg?20121001043838" title="TITLE 5">
<div class="fullcap">
    My Beautiful Dark Twisted Fantasy (2010)<br>
    <form action="https://open.spotify.com/album/20r762YmB5HeofjMCiPMLv?si=43001f9509ea4b73" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://i.pinimg.com/564x/5a/d8/3d/5ad83d60c93bcdea67fab885d186614e.jpg" title="TITLE 6">
<div class="fullcap">
    Yeezus(2013)<br>
    <form action="https://open.spotify.com/album/7D2NdGvBHIavgLhmcwhluK?si=2aafa6a743aa444c" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://upload.wikimedia.org/wikipedia/en/4/4d/The_life_of_pablo_alternate.jpg" title="TITLE 7">
<div class="fullcap">
    The Life of Pablo (2016)<br>
     <form action="https://open.spotify.com/album/7gsWAHLeT0w7es6FofOXk1?si=7a106e93242a46d9" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://upload.wikimedia.org/wikipedia/en/7/74/Ye_album_cover.jpg" title="TITLE 8">
<div class="fullcap">
    Ye (2018)<br>
    <form action="https://open.spotify.com/album/2Ek1q2haOnxVqhvVKqMvJe?si=25e9bd62704c4e6a" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Kanye_West_-_Jesus_Is_King.png" title="TITLE 9">
<div class="fullcap">
    Jesus Is King (2019)<br>
    <form action="https://open.spotify.com/album/0FgZKfoU2Br5sHOfvZKTI9?si=33580124163a4c86" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Almost_black_square_020305.png" title="TITLE 10">
<div class="fullcap">
    Donda (2021)<br>
    <form action="https://open.spotify.com/album/5CnpZV3q5BcESefcB3WJmz?si=9b3d9834abe54eac" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 <div class="fullwrap">
  <img src="https://t2.genius.com/unsafe/600x0/https%3A%2F%2Fimages.genius.com%2F32e9ee0a056315909f7d6f6a703f2395.1000x1000x1.jpg" title="TITLE 11">
<div class="fullcap">
    Donda 2 (2022)<br>
    <form action="https://open.spotify.com/album/2Qwa80yR6xYLHRuqvkdE6H?si=XURkz13jTQaBQmHpXR_0Sg" method="get" target="_blank">
    <button class="album-btn"> listen here
</button>
</form>
  </div>
</div>
 
<!-- 
  
  

  <img src="https://upload.wikimedia.org/
  <img src="https://upload.wikimedia.org/wikipedia/en/a/a4/Kanye_West_-_Jesus_Is_King.png" title="TITLE 9">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Almost_black_square_020305.png" title="TITLE 10">
  <img src="https://t2.genius.com/unsafe/600x0/https%3A%2F%2Fimages.genius.com%2F32e9ee0a056315909f7d6f6a703f2395.1000x1000x1.jpg" title="TITLE 11"> -->
</div>

 </section>
 


 <!-- TERCERA SECCION -->
 
<section id="sect3" class="sect3-photos">
 <div id="sect3-container">
  <div id="lista-final">
    <h5 id="kanye-heading">It’s as yeezy as Kanye West.</h5>
    <article id="search">
      <h6>Search</h6>
      <p>Know what you want to listen to? </p>
      <p>Just search and hit play.</p>
    </article>
    <article id="browse">
      <h6>Browse</h6>
      <p>Check out the latest charts, </p>
      <p>brand new releases and great</p>
      <p>playlists for right now.</p>
    </article>
    <article id="discover">
      <h6>Discover</h6>
      <p>Enjoy new music every Monday</p>
      <p> own personal playlist. </p>
      <p>Or sit back and enjoy Radio.</p>
    </article>
  </div>
  <img src="images/spotify-app.jpg" alt="Spotify app logo">
 </div>  
 <image src="images/spotify-icon-white.png">
 </section>
</div>
 <section id="sect4">
  < id="container-footer">
  <img src="images/spotify-icon-white.png">
  <p> Download Now!</p>
 
  </section>
  </body>
</main>
</html>